body {
  margin:0;
  padding:0;
}

.map-container {
  position:absolute;
  top:0;
  bottom:0;
  width:100%;
}

.map {
  position:absolute;
  top:0;
  bottom:0;
  width:100%;
  height: 100%;
}

.toolbox {
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: 9999;
  background-color: #fff;
  padding: 8px 10px;
  border: solid 1px #d8d8d8;
  border-radius: 2px;
}
