[submodule "fonts/roboto"]
	path = fonts/roboto
	url = https://github.com/google/roboto.git
[submodule "fonts/noto"]
	path = fonts/noto
	url = https://github.com/googlei18n/noto-fonts.git
[submodule "fonts/opensans"]
	path = fonts/opensans
	url = https://github.com/googlefonts/opensans.git
